* {
  box-sizing: border-box;
}

body {
  width: 300px;
  margin: 0 auto;

  button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
}

h1 {
  margin: 5% auto;
  text-align: center;
}


.todoPaging button {
  margin: 0 5px;
}


button:active {
  background-color: grey;
}


.todoForm button:active {
  background-color: grey;
}

.todoFilters button:active {
  background-color: grey;
}

.todoPaging button:active {
  background-color: grey;
}


.todoList li button:active {
  background-color: grey;
}


.todoForm {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.todoFormInput {
  width: 190px;
  border: 2px solid black;
}

.todoList {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0;
  list-style: none;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.todoList li p {
  padding: 5px;
  text-align: center;
  word-break: normal;
}

.todoListCompleteTask {
  text-decoration: line-through;
  color: grey;
}

.todoFilters {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.activeButton {
  background-color: grey;
}

.todoPaging {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 10px;
}